{
  "parser": "babel-eslint",
  "env": {
    // in CommonJS
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js", "**/*.spec.js"] }
    ]
  }
}
